@use 'sass:map';
@use '@carbon/styles/scss/utilities/convert' as *;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/grid/scss/config' as grid;

grid.$grid-breakpoints: map.merge(
  grid.$grid-breakpoints,
  (
    sm: map.merge(
        map.get(grid.$grid-breakpoints, sm),
        (
          margin: rem(16px),
        )
      ),
    lg: map.merge(
        map.get(grid.$grid-breakpoints, lg),
        (
          margin: rem(24px),
        )
      ),
    xlg: map.merge(
        map.get(grid.$grid-breakpoints, xlg),
        (
          margin: rem(32px),
        )
      ),
    max: map.merge(
        map.get(grid.$grid-breakpoints, max),
        (
          margin: rem(32px),
        )
      ),
  )
);

themes.$white: map.merge(
  themes.$white,
  (
    background-hover: $cool-gray-10,

    layer-hover-01: $cool-gray-10,

    border-subtle-00: $cool-gray-20,

    text-dark: $black,

    box-shadow-color: rgba(193, 199, 205, 0.45),
  )
);

themes.$g100: map.merge(
  themes.$g100,
  (
    background-hover: $cool-gray-80,

    layer-hover-01: $cool-gray-80,

    border-subtle-00: $cool-gray-80,

    text-dark: $white,

    box-shadow-color: rgba($cool-gray-70, 0.45),
  )
);

$grid-margin: var(--cds-grid-margin);

$text-dark: var(--cds-text-dark);

$block-radius: $spacing-03;
$box-shadow-color: var(--cds-box-shadow-color);
$box-shadow: 0px 2px 8px 0px $box-shadow-color;

@forward '@carbon/styles/scss/themes';
@forward '@carbon/styles/scss/theme';
